:root {
  --color-white: #ffffff;
  --color-primary: #5742ac;
  --color-text--dark: #2c2347;
  --color-text--light: #676276;
  --color-primary--light: #f5f4fb; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 58%; } }

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-white);
  font-weight: 400;
  line-height: 1.625;
  color: var(--color-text--light); }

.container {
  max-width: 129rem;
  margin: 0 auto; }
  @media only screen and (max-width: 80em) {
    .container {
      padding: 0 1rem; } }

.section-header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }

.section-slider {
  background: #d1efff;
  padding-bottom: 8rem; }

.section-blogs {
  background: #d1efff; }

.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .btn__contact {
    padding: 0.7rem 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.625;
    transition: all 0.2s ease-out; }
    @media only screen and (max-width: 30em) {
      .btn__contact {
        display: none; } }
    .btn__contact:hover {
      transform: translateY(-1px); }
  .btn__hamburger {
    padding: 0.7rem;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .btn__hamburger {
        display: flex; } }
  .btn__mobile-contact {
    padding: 1rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.625; }
  .btn__outline {
    padding: 0.7rem 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.625;
    transition: all 0.2s ease-out;
    background: transparent;
    color: var(--color-primary);
    border: 1.5px solid var(--color-primary);
    border-radius: 0.2rem; }
    .btn__outline:hover {
      transform: translateY(-1px); }
  .btn__banner {
    padding: 1.2rem 3.2rem;
    color: var(--color-text--dark);
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-block; }
  .btn--primary {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.2rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 0; }
  @media only screen and (max-width: 68.75em) {
    .navigation {
      padding: 2rem 0; } }
  .navigation__left {
    display: flex;
    justify-content: start;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .navigation__left {
        display: none; } }
  .navigation__middle {
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__right {
        gap: 2rem; } }
  .navigation__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__lists {
        display: none; } }
  .navigation__link {
    text-decoration: none;
    color: var(--color-text--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
    text-align: center; }
    .navigation__link:hover {
      color: var(--color-primary);
      transform: translateY(-1px); }
  .navigation__logo {
    max-width: 14.2rem; }

.mobile-navigation {
  padding: 2rem 0rem 1rem;
  height: 100vh;
  display: none;
  flex-direction: column; }
  .mobile-navigation__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .mobile-navigation__middle {
    flex-grow: 1;
    padding: 6rem 1rem 0; }
  .mobile-navigation__bottom {
    display: flex; }
  .mobile-navigation__lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3rem; }
  .mobile-navigation__item {
    display: flex;
    justify-content: baseline;
    align-items: center; }
  .mobile-navigation__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-text--dark);
    transition: all 0.2s ease-out;
    text-align: left;
    font-size: 1.8rem; }
    .mobile-navigation__link:hover {
      color: var(--color-primary);
      transform: translateY(-1px); }

.slider__item {
  width: 85rem !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .slider__item {
      width: 100vw !important; } }

.slider__image {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  opacity: 60%; }

.slider__content {
  background: var(--color-white);
  padding: 0rem 3rem 3rem;
  display: none; }

.slider__details {
  padding: 1.5rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem; }

.slider__category {
  font-weight: 500;
  text-transform: uppercase; }

.slider__date {
  color: var(--color-text--light);
  font-weight: 400; }

.slider__heading {
  font-size: 3.2rem;
  font-family: 'Lora', serif;
  font-weight: 500;
  line-height: 1.312;
  color: var(--color-text--dark);
  margin-bottom: 1rem; }

.slider__description {
  font-size: 1.7rem;
  word-wrap: break-word;
  margin-bottom: 2rem; }

.slick-active .slider__image {
  opacity: 100%; }

.slick-active .slider__content {
  display: block; }

.slick-active .custom-pagination {
  background: var(--color-primary); }

.slick-prev, .slick-next {
  position: absolute;
  top: 25%;
  z-index: 4000;
  background: var(--color-text--dark);
  width: 4rem;
  height: 4rem; }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: var(--color-text--dark);
    color: var(--color-white); }
  @media only screen and (max-width: 80em) {
    .slick-prev, .slick-next {
      display: none !important; } }

.slick-prev {
  left: 11rem;
  transform: translateX(100%); }
  .slick-prev:before {
    content: url("/img/icons/prev.svg"); }

.slick-next {
  right: 11rem;
  transform: translateX(-100%); }
  .slick-next:before {
    content: url("/img/icons/next.svg"); }

.slick-dots {
  background: var(--color-white);
  display: flex;
  width: auto;
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%); }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    cursor: pointer; }

.section-slider .slick-slide {
  margin: 0 1.5rem; }

.section-blogs .slick-dots {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  transform: translateX(-50%) translateY(-4rem); }

.section-blogs .slick-active .custom-pagination-2 {
  background: var(--color-white); }

.custom-pagination {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #5742ac4d; }
  .custom-pagination-2 {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3); }

.blogs__functionality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .blogs__functionality {
      flex-direction: column;
      gap: 1.5rem; } }

.blogs__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .blogs__left {
      gap: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .blogs__left {
      align-self: stretch; } }

.blogs__right {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .blogs__right {
      align-self: stretch; } }

.blogs__title {
  color: var(--color-text--dark);
  font-size: 4rem;
  font-weight: 700; }

.blogs__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .blogs__category {
      gap: 1rem; } }
  .blogs__category p {
    color: var(--color-text--dark);
    padding: 0.7rem 2rem;
    background: #2c23471a;
    border-radius: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .blogs__category p {
        padding: 0.5rem 1.5rem;
        font-size: 1.4rem; } }

.blogs__search-box {
  background: #ffffff80;
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--color-white);
  backdrop-filter: blur(20px);
  gap: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .blogs__search-box {
      gap: 0.5rem;
      padding: 0.7rem 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .blogs__search-box {
      width: 100%;
      justify-content: start; } }

.blogs__button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent; }

.blogs__search-input {
  border: none;
  color: #000000a6;
  font-size: 16px;
  padding: 0.3rem 3.5rem 0.3rem 0rem; }
  @media only screen and (max-width: 56.25em) {
    .blogs__search-input {
      padding: 0.3rem 2.5rem 0.3rem 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .blogs__search-input {
      width: 100%;
      padding: 0.5rem 3.5rem 0.5rem 0rem; } }
  .blogs__search-input:focus {
    border: none;
    outline: none; }

.blog__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 4rem;
  column-gap: 3rem;
  position: relative; }

.blog-carousal {
  width: 100%;
  grid-column: span 6;
  background: var(--color-primary--light); }
  @media only screen and (max-width: 56.25em) {
    .blog-carousal {
      grid-column: span 12; } }
  .blog-carousal__slider {
    height: 30rem; }
    .blog-carousal__slider img {
      height: 30rem;
      object-fit: cover; }
  .blog-carousal__content {
    padding: 0rem 2rem 2rem;
    margin-top: -1rem; }
  .blog-carousal__details {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
    margin-bottom: 2rem; }
  .blog-carousal__category {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-text--dark);
    font-weight: 500;
    text-transform: uppercase; }
  .blog-carousal_date {
    color: var(--color-text--light);
    font-weight: 400; }
  .blog-carousal__heading {
    font-size: 2.4rem;
    font-family: 'Lora', serif;
    font-weight: 500;
    color: var(--color-text--dark);
    line-height: 1.41;
    margin-bottom: 1.5rem; }
  .blog-carousal__description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--color-text--light); }
  .blog-carousal__author {
    color: var(--color-text--light);
    font-weight: 500; }

.blog-video__content {
  margin-top: 0 !important;
  padding: 1.5rem 2rem 2rem; }

.blog-banner {
  grid-column: span 12;
  background-image: linear-gradient(to bottom, #2c234799, #2c234799), url("/img/blogs/Rectangle 6.png");
  padding: 7.8rem 22rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .blog-banner {
      padding: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .blog-banner {
      padding: 8rem; } }
  @media only screen and (max-width: 30em) {
    .blog-banner {
      padding: 0rem; } }
  .blog-banner__content {
    text-align: center;
    background: #ffffff1a;
    padding: 5rem 6rem;
    color: var(--color-white); }
    @media only screen and (max-width: 56.25em) {
      .blog-banner__content {
        padding: 5rem; } }
    .blog-banner__content h4 {
      font-size: 3.6rem;
      font-weight: 500;
      margin-bottom: 1rem; }
    .blog-banner__content p {
      color: #ffffffcc;
      font-size: 1.6rem;
      margin-bottom: 2rem; }

.blog-4 {
  grid-column: span 9; }
  @media only screen and (max-width: 56.25em) {
    .blog-4 {
      grid-column: span 6; } }
  @media only screen and (max-width: 37.5em) {
    .blog-4 {
      grid-column: span 12; } }
  .blog-4 .blog-carousal__heading {
    font-size: 32px; }
  .blog-4 .blog-carousal__description {
    font-size: 1.8rem; }

.blog-image-container {
  height: 40rem; }
  .blog-image-container img {
    height: 40rem; }

.blog-long {
  grid-column: span 3;
  background-image: url("/img/blogs/blog-4.jpg");
  background-size: cover;
  background-position: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: end; }
  @media only screen and (max-width: 56.25em) {
    .blog-long {
      grid-column: span 6; } }
  @media only screen and (max-width: 37.5em) {
    .blog-long {
      grid-column: span 12;
      height: 40rem; } }
  .blog-long__content {
    background: var(--color-white);
    padding: 2rem; }
    .blog-long__content h4 {
      font-size: 2rem;
      color: var(--color-text--dark);
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      font-weight: 700; }
