// /////////////////////////////////
// Buttons Related Styles
// /////////////////////////////////

.btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__contact {
    padding: 0.7rem 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.625;
    transition: all 0.2s ease-out;

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }

    &:hover {
      transform: translateY(-1px);
    }
  }

  &__hamburger {
    padding: 0.7rem;
    display: none;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
    }
  }

  &__mobile-contact {
    padding: 1rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.625;
  }

  &__outline {
    padding: 0.7rem 2rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.625;
    transition: all 0.2s ease-out;
    background: transparent;
    color: var(--color-primary);
    border: 1.5px solid var(--color-primary);
    border-radius: 0.2rem;

    &:hover {
      transform: translateY(-1px);
    }
  }

  &__banner {
    padding: 1.2rem 3.2rem;
    color: var(--color-text--dark);
    font-size: 1.6rem;
    font-weight: 500;
    display: inline-block;
    transition: all 0.2s ease-out;

    &:hover {
      transform: translateY(-1px);
    }
  }

  &__center {
    display: inline-block;
  }

  &--primary {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.2rem;
  }
}

// /////////////////////////////////
// Navigation Related Styles
// /////////////////////////////////

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 0;

  @media only screen and (max-width: $bp-large) {
    padding: 2rem 0;
  }

  &__left {
    display: flex;
    justify-content: start;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
      gap: 2rem;
    }
  }

  &__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-text--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
    text-align: center;

    &:hover {
      color: var(--color-primary);
      transform: translateY(-1px);
    }
  }

  &__logo {
    max-width: 14.2rem;
  }
}

// /////////////////////////////////
// Mobile Nav Related Styles
// /////////////////////////////////

.mobile-navigation {
  padding: 2rem 0.5rem 1rem;
  display: none;
  flex-direction: column;
  z-index: 6000;
  background: var(--color-white);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__middle {
    flex-grow: 1;
    padding: 6rem 1rem 0;
  }

  &__bottom {
    display: flex;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3rem;
  }

  &__item {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-text--dark);
    transition: all 0.2s ease-out;
    text-align: left;
    font-size: 1.8rem;

    &:hover {
      color: var(--color-primary);
      transform: translateY(-1px);
    }
  }
}

// /////////////////////////////////
// Buttons Related Styles
// /////////////////////////////////

.slider {
  &__item {
    width: 85rem !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-small) {
      width: 100vw !important;
    }
  }

  &__image {
    height: 40rem;
    width: 100%;
    object-fit: cover;
    opacity: 60%;
  }

  &__content {
    background: var(--color-white);
    padding: 0rem 3rem 3rem;
    display: none;
  }

  &__details {
    padding: 1.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.4rem;
  }

  &__category {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__date {
    color: var(--color-text--light);
    font-weight: 400;
  }

  &__heading {
    font-size: 3.2rem;
    font-family: 'Lora', serif;
    font-weight: 500;
    line-height: 1.312;
    color: var(--color-text--dark);
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.7rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
  }
}

// /////////////////////////////////
// Slick Related Styles
// /////////////////////////////////

.slick {
  &-active {
    & .slider__image {
      opacity: 100%;
    }

    & .slider__content {
      display: block;
    }

    & .custom-pagination {
      background: var(--color-primary);
    }
  }

  &-prev,
  &-next {
    position: absolute;
    top: 25%;
    z-index: 4000;
    background: var(--color-text--dark);
    width: 4rem;
    height: 4rem;

    &:hover,
    &:focus {
      background: var(--color-text--dark);
      color: var(--color-white);
    }

    @media only screen and (max-width: $bp-largest) {
      display: none !important;
    }
  }

  &-prev {
    left: 11rem;
    transform: translateX(100%);

    &:before {
      content: url('/img/icons/prev.svg');
    }
  }

  &-next {
    right: 11rem;
    transform: translateX(-100%);

    &:before {
      content: url('/img/icons/next.svg');
    }
  }

  &-dots {
    background: var(--color-white);
    display: flex;
    width: auto;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);

    & li {
      position: relative;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      padding: 0;
      cursor: pointer;
    }
  }
}

.section-slider .slick-slide {
  margin: 0 1.5rem;
}

.section-blogs .slick-dots {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  transform: translateX(-50%) translateY(-4rem);
}

.section-blogs .slick-active .custom-pagination-2 {
  background: var(--color-white);
}

.custom-pagination {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #5742ac4d;

  &-2 {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

// /////////////////////////////////
// Blogs Header Related Styles
// /////////////////////////////////

.blogs {
  margin-bottom: 8rem;

  &__functionality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    @media only screen and (max-width: $bp-medium) {
      gap: 1.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      align-self: stretch;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      align-self: stretch;
    }
  }

  &__title {
    color: var(--color-text--dark);
    font-size: 4rem;
    font-weight: 700;
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      gap: 1rem;
    }

    & p {
      color: var(--color-text--dark);
      padding: 0.7rem 2rem;
      background: #2c23471a;
      border-radius: 4rem;

      @media only screen and (max-width: $bp-medium) {
        padding: 0.5rem 1.5rem;
        font-size: 1.4rem;
      }
    }
  }

  &__search-box {
    background: #ffffff80;
    padding: 0.7rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--color-white);
    backdrop-filter: blur(20px);
    gap: 1rem;

    @media only screen and (max-width: $bp-medium) {
      gap: 0.5rem;
      padding: 0.7rem 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      justify-content: start;
    }
  }

  &__button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }

  &__search-input {
    border: none;
    color: #000000a6;
    font-size: 16px;
    padding: 0.3rem 3.5rem 0.3rem 0rem;
    background: transparent;

    @media only screen and (max-width: $bp-medium) {
      padding: 0.3rem 2.5rem 0.3rem 0rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      padding: 0.5rem 3.5rem 0.5rem 0rem;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

// /////////////////////////////////
// Blog Related Styles
// /////////////////////////////////

.blog {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 4rem;
    column-gap: 3rem;
  }

  &-carousal {
    width: 100%;
    grid-column: span 6;
    background: var(--color-primary--light);

    @media only screen and (max-width: $bp-medium) {
      grid-column: span 12;
    }

    &__slider {
      height: 30rem;
      width: 100%;

      & img {
        height: 30rem;
        object-fit: cover;
      }
    }

    &__content {
      padding: 0rem 2rem 2rem;
      margin-top: -1rem;
    }

    &__details {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 14px;
      margin-bottom: 2rem;
    }

    &__category {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--color-text--dark);
      font-weight: 500;
      text-transform: uppercase;
    }

    &_date {
      color: var(--color-text--light);
      font-weight: 400;
    }

    &__heading {
      font-size: 2.4rem;
      font-family: 'Lora', serif;
      font-weight: 500;
      color: var(--color-text--dark);
      line-height: 1.41;
      margin-bottom: 1.5rem;
    }

    &__description {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      color: var(--color-text--light);
    }

    &__author {
      color: var(--color-text--light);
      font-weight: 500;
    }
  }

  &-video {
    &__image {
      height: 30rem;
      width: 100%;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30rem;
        background: linear-gradient(
          180deg,
          rgba(44, 35, 71, 0) 0%,
          rgba(44, 35, 71, 0.6) 100%
        );
      }

      & img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
      }

      & button {
        position: absolute;
        right: 2.5rem;
        bottom: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        outline: none;
        color: var(--color-white);
        gap: 1rem;
        cursor: pointer;
        z-index: 2000;

        & img {
          width: 2.2rem;
          height: 2.2rem;
        }
      }
    }
    &__content {
      margin-top: 0 !important;
      padding: 1.5rem 2rem 2rem;
    }
  }

  &-banner {
    grid-column: span 12;
    background-image: linear-gradient(to bottom, #2c234799, #2c234799),
      url('/img/blogs/Rectangle\ 6.png');
    padding: 7.8rem 22rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 0rem;
    }

    &__content {
      text-align: center;
      background: #ffffff1a;
      padding: 5rem 6rem;
      color: var(--color-white);

      @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
      }

      & h4 {
        font-size: 3.6rem;
        font-weight: 500;
        margin-bottom: 1rem;
        line-height: 1.4;
      }

      & p {
        color: #ffffffcc;
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
    }
  }

  &-4 {
    grid-column: span 9;

    @media only screen and (max-width: $bp-medium) {
      grid-column: span 6;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: span 12;
    }

    & .blog-carousal__heading {
      font-size: 32px;
    }

    & .blog-carousal__description {
      font-size: 1.8rem;
    }
  }

  &-image-container {
    height: 40rem;

    & img {
      height: 40rem;
    }
  }

  &-long {
    grid-column: span 3;
    background-image: url('/img/blogs/blog-4.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;

    @media only screen and (max-width: $bp-medium) {
      grid-column: span 6;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: span 12;
      height: 40rem;
    }

    &__content {
      background: var(--color-white);
      padding: 2rem;

      & h4 {
        font-size: 2rem;
        color: var(--color-text--dark);
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.4;
      }
    }
  }

  &-simple {
    grid-column: span 4;

    @media only screen and (max-width: $bp-medium) {
      grid-column: span 6;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: span 12;
    }

    & .blog-carousal__slider {
      height: 22rem;

      & img {
        height: 22rem;
      }
    }
  }
}

.load-more-container {
  text-align: center;
  margin-top: 4rem;
}

// /////////////////////////////////
// Footer Related Styles
// /////////////////////////////////

.footer {
  padding: 4.5rem 0 2rem;

  @media only screen and (max-width: $bp-small) {
    padding: 4.5rem 0;
  }

  &__contact {
    & h4 {
      font-weight: 500;
      color: var(--color-white);
      margin-bottom: 1.5rem;
      font-size: 2.4rem;

      @media only screen and (max-width: $bp-small) {
        text-align: center;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    @media only screen and (max-width: $bp-small) {
      justify-content: center;
    }

    & a {
      padding: 1rem;
      border: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
  }

  &__bottom {
    margin-top: 10.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    color: #ffffff99;
    font-size: 14px;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-top: 5rem;
      text-align: center;
    }

    & a {
      color: var(--color-white);
    }
  }
}
