.container {
  max-width: 129rem;
  margin: 0 auto;

  @media only screen and (max-width: $bp-largest) {
    padding: 0 1rem;
  }
}

.section-header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.section-slider {
  background: #000;
  clip-path: polygon(
    100% 0%,
    100% 0%,
    100% 35%,
    100% 92%,
    75% 95%,
    51% 98%,
    25% 95%,
    0% 92%,
    0% 35%,
    0% 0%
  );
  padding-bottom: 40rem;
  background: radial-gradient(
    74% 30.63% at 79.35% 21.98%,
    #d1efff 0%,
    rgba(209, 239, 255, 0.267) 100%
  );
}

.section-blogs {
  margin-top: -30rem;
}

.section-footer {
  background: var(--color-text--dark);
}
