.container {
  max-width: 129rem;
  margin: 0 auto;

  @media only screen and (max-width: $bp-largest) {
    padding: 0 1rem;
  }
}

.section-header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.section-slider {
  background: #d1efff;
  padding-bottom: 8rem;
}

.section-blogs {
  background: #d1efff;
}
